<section class="dark-overlay-1">
  <h1><%= gettext "Welcome to %{name}!", name: "Butter Beer" %></h1>
  <p>Trusted restaurant recommendations from your network</p>
</section>
<!-- edit below this -->
<section class="row">
  <article class="column">
    <h2>Resources</h2>
    
  </article>
  <article class="column">
    <h2>Help</h2>
  </article>
</section>
