<h1>Edit Dine post</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.dine_post_path(@conn, :update, @dine_post)) %>

<span><%= link "Back", to: Routes.dine_post_path(@conn, :index) %></span>
