<h1>Show Dine post</h1>

<ul>

  <li>
    <strong>Created at:</strong>
    <%= @dine_post.created_at %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @dine_post.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.dine_post_path(@conn, :edit, @dine_post) %></span> |
<span><%= link "Back", to: Routes.dine_post_path(@conn, :index) %></span>
